
$color1:pink;
$color2:rgb(163, 159, 151);
$color3:cyan;
$white:rgb(241,241, 241);
$black:rgb(23, 23, 23);


//mixins
@mixin centerChild {
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    background: $color2;
}

