
$color1:pink;
$color2:rgb(163, 159, 151);
$color3:cyan;
$white:rgb(241,241, 241);
$black:rgb(23, 23, 23);


//mixins
@mixin centerChild {
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    background: $color2;
}


nav {
    background: pink;
    border-radius: 10px;


    ul{
        display: flex;
        justify-content: space-around;
        height: 40px;
        align-items: center;

        li{
            list-style: none;
        }
    }
}

header{
    h1{
       font-size: 3rem; 
       text-align: center;

       @media screen and (max-width:700px){
        font-size:1rem;
        
       }

       &::after{
        content:"*";
        position: absolute;
        transform: translateY(-6px);
        color: pink;
        transition: 0.2s;
       }

       &:hover::after{
        transform: scale(2);
       }

    }
}

section {
    height: 400px;
    border:1px solid $black;
    justify-content: center;
    align-items: center;

    p{
        width: 50%;
        text-align: center;
    }
}